<!DOCTYPE html>
<html>

<head>
  <title>CrimeTracker</title>
  <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <br><br>
  <img src="./img/CrimeTrackerLogo.png"><br>
  <br><br>
  <div title="Click here to Start!">
  <a href="/search">
    <input class="button" value="Enter Here">
  </a>
  </div>
  <br><br><br><br>
  <div title="Click here to email">
  <a href="mailto:campbeb3@oregonstate.edu"><img src="./img/Contact.png"></a><br>
  </div>
  <br><br>
  <div title="Version">
  <img src="./img/Version.png"></div><br>
  <a href="/"><img src="./img/Home_Home.png"></a><a href="/search"><img src="./img/Search_icon.png"></a><a href="/results"><img src="./img/Results_icon.png"></a><a href="/results_list"><img src="./img/List_icon.png"></a>
</body>
</html>