<!DOCState html>
<html>
<head>
    <title>2019 Crimes Microservice</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script href="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h3>Select State:</h3>
    <select id='sel0'>
        <option value=''>-- Select --</option>
    </select>
    </p>
    <div>
    <h3>2019 Violent Crimes</h3>
        <table>
            <thead>
                <tr>
                    <th>All</th>
                    <th>Assault</th>
                    <th>Murder</th>
                    <th>Rape</th>
                    <th>Robbery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <div id='sel1'></div>
                    </td>
                    <td>
                    <div id='sel2'></div>
                    </td>
                    <td>
                    <div id='sel3'></div>
                    </td>
                    <td>
                    <div id='sel4'></div>
                    </td>
                    <td>
                    <div id='sel5'></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    <h3>2019 Property Crimes</h3>
        <table>
            <thead>
                <tr>
                    <th>All</th>
                    <th>Burglary</th>
                    <th>Larceny</th>
                    <th>Motor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <div id='sel6'></div>
                    </td>
                    <td>
                    <div id='sel7'></div>
                    </td>
                    <td>
                    <div id='sel8'></div>
                    </td>
                    <td>
                    <div id='sel9'></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


<script>
    $(document).ready(function () {

    let arrData = [];
    
  	// Fill the first dropdown with data.
    $.getJSON('./json/state_crime.json', function (data) {

        let arr_State = [];

        $.each(data, function (index, value) {
            arr_State.push(value.State);
            arrData = data;
        });
    
        // Remove duplicates. We want unique States.
        arr_State = Array.from(new Set (arr_State));
        
        // ref (https://www.encodedna.com/javascript/remove-duplicates-in-javascript-array-using-es6-set-and-from.htm)

        $.each(arr_State, function (index, value) {
            // Fill the first dropdown with unique States.
            $('#sel0').append('<option value="' + value + '">' + value + '</option>');
        });
                
    });


    $('#sel0').change(function () {
        let State = this.options[this.selectedIndex].value;

        let filterData = arrData.filter(function(value) {
            return value.State === State;
        });
        
        $('#sel1').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with All Violent Crimes
            $('#sel1').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.All) + '</option>');
        });
        $('#sel2').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Assault Violent Crimes
            $('#sel2').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Assault) + '</option>');
        });
        $('#sel3').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Murder Violent Crimes
            $('#sel3').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Murder) + '</option>');
        });
        $('#sel4').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Rape Violent Crimes
            $('#sel4').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Rape) + '</option>');
        });
        $('#sel5').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Robbery Violent Crimes
            $('#sel5').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Robbery) + '</option>');
        });
        $('#sel6').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with All Property Crimes
            $('#sel6').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.All) + '</option>');
        });
        $('#sel7').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Burglary Property Crimes
            $('#sel7').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.Burglary) + '</option>');
        });
        $('#sel8').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Larceny Property Crimes
            $('#sel8').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.Larceny) + '</option>');
        });
        $('#sel9').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Motor Property Crimes
            $('#sel9').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.Motor) + '</option>');
        });
    });
    });
</script>
</html>