
<html>
<head>
    <title>CrimeTracker-Search</title>
    Access-Control-Allow-Origin
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script href="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
	<div title="Back button">
    <a href="/"><img class="button" src="./img/Back.png"></a></div>
    <br>
    <img src="./img/CrimeTrackerLogo.png">
    <br>
    <p>
        <h3>Select State:</h3>
        <select id='sel0'>
            <option value=''>-- Select --</option>
        </select>
    </p>
    <div>
    <h3>2019 Violent Crimes:</h3>
        <table>
            <thead>
                <tr>
                    <th>All</th>
                    <th>Assault</th>
                    <th>Murder</th>
                    <th>Rape</th>
                    <th>Robbery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <div id='sel1'></div>
                    </td>
                    <td>
                    <div id='sel2'></div>
                    </td>
                    <td>
                    <div id='sel3'></div>
                    </td>
                    <td>
                    <div id='sel4'></div>
                    </td>
                    <td>
                    <div id='sel5'></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    <h3>2019 Property Crimes:</h3>
        <table>
            <thead>
                <tr>
                    <th>All</th>
                    <th>Burglary</th>
                    <th>Larceny</th>
                    <th>Motor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <div id='sel6'></div>
                    </td>
                    <td>
                    <div id='sel7'></div>
                    </td>
                    <td>
                    <div id='sel8'></div>
                    </td>
                    <td>
                    <div id='sel9'></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     <div>
    <h3>Microservice Data:</h3>
        <table>
            <thead>
                <tr>
                    <th>% Below Poverty</th>
                    <th>% Unemployment Rate</th>
                    <th>Mean Household Income</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id='sel10'></div>
                        <!--iframe src="http://flip3.engr.oregonstate.edu:54546/api/data?state=VA&var=S1701_C03_001E"></iframe-->
                    </td>
                    <td>
                        <div id='sel11'></div>
                    <td>
                        <div id='sel12'></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>
            <div title="test_api">
            <!--a href="/test_api"><img class="button" src="./img/Back.png"></a></div-->
            <input id = "testButton" value="get_api">
        </div>
</body>


<script>
    $(document).ready(function () {

    let arrData = [];
    
  	// Fill the first dropdown with data.
    $.getJSON('./json/state_crime.json', function (data) {

        let arr_State = [];

        $.each(data, function (index, value) {
            arr_State.push(value.State);
            arrData = data;
        });
    
        // Remove duplicates. We want unique States.
        arr_State = Array.from(new Set (arr_State));
        
        // ref (https://www.encodedna.com/javascript/remove-duplicates-in-javascript-array-using-es6-set-and-from.htm)

        $.each(arr_State, function (index, value) {
            // Fill the first dropdown with unique States.
            $('#sel0').append('<option value="' + value + '">' + value + '</option>');
        });
                
    });


    $('#sel0').change(function () {
        let State = this.options[this.selectedIndex].value;

        let filterData = arrData.filter(function(value) {
            return value.State === State;
        });
        //console.log(State);

        $('#sel1').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with All Violent Crimes
            $('#sel1').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.All) + '</option>');
        });

        $('#sel2').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Assault Violent Crimes
            $('#sel2').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Assault) + '</option>');
        });

        $('#sel3').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Murder Violent Crimes
            $('#sel3').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Murder) + '</option>');
        });

        $('#sel4').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Rape Violent Crimes
            $('#sel4').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Rape) + '</option>');
        });

        $('#sel5').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Robbery Violent Crimes
            $('#sel5').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Violent.Robbery) + '</option>');
        });

        $('#sel6').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with All Property Crimes
            $('#sel6').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.All) + '</option>');
        });

        $('#sel7').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Burglary Property Crimes
            $('#sel7').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.Burglary) + '</option>');
        });

        $('#sel8').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Larceny Property Crimes
            $('#sel8').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.Larceny) + '</option>');
        });

        $('#sel9').empty().append();
        $.each(filterData, function (index, value) {
            // Now, fill the second box with Motor Property Crimes
            $('#sel9').append('<option value="' + value + '">' + JSON.stringify(value.Data.Totals.Property.Motor) + '</option>');
        });


/*
    //$('#testButton').click(function(){(abbrState(State, 'abbr'))});
        const button = document.getElementById('testButton');
        button.addEventListener('click', function(e) {
        console.log('button was clicked');
        const data = new URLSearchParams();

        testState = abbrState(State, 'abbr');
        data.append('state',testState);
        data.append('var_code','S1701_C03_001E');

        
        fetch('/test_api', {method: 'POST', body: data})
            .then(function(response) {
            if(response.ok) {
                console.log('click was recorded');
                console.log(response)
                return;
            }
            throw new Error('Request failed.');
            })
            .catch(function(error) {
            console.log(error);
            })
            .then((result)=>{console.log(result)});
        });
*/

        const button = document.getElementById('testButton');
        button.addEventListener('click', function(e) {
        console.log('button was clicked');
        const data = new URLSearchParams();

        testState = abbrState(State, 'abbr');
        data.append('state',testState);
        //data.append('var_code','S1701_C03_001E');

        url = '/test_api'
        params = {'state': 'NY', 'var1':'S1701_C03_001E'}
        url += '?' + ( new URLSearchParams( params ) ).toString();

        //http://flip3.engr.oregonstate.edu:54546/api/data?state=VA&var=S1701_C03_001E
        //http://flip2.engr.oregonstate.edu:54555/test_api?state=NY&var=S1701_C03_001E
        fetch(url, {method: 'GET'})
            .then(function(response) {
            if(response.ok) {
                console.log('click was recorded');
                console.log(response);
                return;
            }
            throw new Error('Request failed.');
            })
            .catch(function(error) {
            console.log(error);
            })
            .then((res)=>{console.log(res)});
            
        });

/*
    const request = ( url, params = {}, method = 'GET' ) => { let options = { method };
        if ( 'GET' === method ) { url += '?' + ( new URLSearchParams( params ) ).toString();
         } 
         else { options.body = JSON.stringify( params ); 
         } 
         return fetch( url, options ).then( response => response.json() );
          };
          const get = ( url, params ) => request( url, params, 'GET' );
*/
    // INSERT MICROSERVICE HERE
    // First, convert state full name to abbreviation
    // ref for conversion code: https://gist.github.com/calebgrove/c285a9510948b633aa47
    //console.log(State)
    function abbrState(input, to){
        var states = [
            ['Arizona', 'AZ'],
            ['Alabama', 'AL'],
            ['Alaska', 'AK'],
            ['Arkansas', 'AR'],
            ['California', 'CA'],
            ['Colorado', 'CO'],
            ['Connecticut', 'CT'],
            ['Delaware', 'DE'],
            ['Florida', 'FL'],
            ['Georgia', 'GA'],
            ['Hawaii', 'HI'],
            ['Idaho', 'ID'],
            ['Illinois', 'IL'],
            ['Indiana', 'IN'],
            ['Iowa', 'IA'],
            ['Kansas', 'KS'],
            ['Kentucky', 'KY'],
            ['Louisiana', 'LA'],
            ['Maine', 'ME'],
            ['Maryland', 'MD'],
            ['Massachusetts', 'MA'],
            ['Michigan', 'MI'],
            ['Minnesota', 'MN'],
            ['Mississippi', 'MS'],
            ['Missouri', 'MO'],
            ['Montana', 'MT'],
            ['Nebraska', 'NE'],
            ['Nevada', 'NV'],
            ['New Hampshire', 'NH'],
            ['New Jersey', 'NJ'],
            ['New Mexico', 'NM'],
            ['New York', 'NY'],
            ['North Carolina', 'NC'],
            ['North Dakota', 'ND'],
            ['Ohio', 'OH'],
            ['Oklahoma', 'OK'],
            ['Oregon', 'OR'],
            ['Pennsylvania', 'PA'],
            ['Rhode Island', 'RI'],
            ['South Carolina', 'SC'],
            ['South Dakota', 'SD'],
            ['Tennessee', 'TN'],
            ['Texas', 'TX'],
            ['Utah', 'UT'],
            ['Vermont', 'VT'],
            ['Virginia', 'VA'],
            ['Washington', 'WA'],
            ['West Virginia', 'WV'],
            ['Wisconsin', 'WI'],
            ['Wyoming', 'WY'],
        ];

        if (to == 'abbr'){
            input = input.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
            for(i = 0; i < states.length; i++){
                if(states[i][0] == input){
                    return(states[i][1]);
                }
            }    
        } else if (to == 'name'){
            input = input.toUpperCase();
            for(i = 0; i < states.length; i++){
                if(states[i][1] == input){
                    return(states[i][0]);
                }
            }    
        }
    }
    console.log(abbrState(State, 'abbr'))


    //access partner's website to get the percentages for each variable

    // ref: https://www.freecodecamp.org/news/here-is-the-most-popular-ways-to-make-an-http-request-in-javascript-954ce8c95aaa/
    // http://flip3.engr.oregonstate.edu:54546/api/data?state=VA&var=S1701_C03_001E


// send the rendered view to the client
    /*res.render('')

    // if a callback is specified, the rendered HTML string has to be sent explicitly
    res.render('index', function (err, html) {
    res.send(html)
    })

    // pass a local variable to the view
    res.render('user', { name: 'state' }, function (err, html) {
    // ...
    })

    //Add ONCLICK button

    res.send(Buffer.from('whoop'))
    res.send({ some: 'json' })
    res.send('<p>some html</p>')
    res.status(404).send('Sorry, we cannot find that!')
    res.status(500).send({ error: 'something blew up' })
*/


    //AJAX METHOD
/*
    var Http = new XMLHttpRequest();
    var url = 'http://flip3.engr.oregonstate.edu:54546/api/data';
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange=(e)=>{
        console.log(Http.responseText)
    }
*/

/*
    //$.ajax
    var Url='http://flip3.engr.oregonstate.edu:54546/api/data';
    $('#sel11').change(function(){
        $.ajax({
            url: Url,
            type:"GET",
            success: function(result){
                console.log(result)
            },
            error:function(error){
                console.log(`Error ${error}`)
            }
        })
    })
*/

/*
    let Url = 'http://flip3.engr.oregonstate.edu:54546/api';
    axios.get(Url)
    .then(data=>console.log(data))
    .catch(err=>console.log(err))
*/


/*
    // with params
    let Url = 'http://flip3.engr.oregonstate.edu:54546/api/data?';
    let params={
        state:"AR"
    }
    axios.get(Url,params)
    .then(data=>console.log(data))
    .catch(err=>console.log(err))
    
    
/*
    let Url = 'http://flip3.engr.oregonstate.edu:54546/api/data?';
    let Data={
        state:"AR",
        var_name: "S1701_C03_001E" 
    };
    //optional params
    let othePram={
        headers:{
            "content-type":"application/json; charset=UTF-8"
        },
        body:Data,
        method:"POST"
    };

    fetch(Url,othePram)
    .then(data=>{return data.json()})
    .then(res=>{console.log(res)})
    .catch(error=>console.log(error))
*/




/*
        //Partner's json location:
        var arrUrl = 'http://flip3.engr.oregonstate.edu:54546/api/data?state=';

        //convert full state name to state abbreviation
        let arrState = abbrState(State, 'abbr');

        //codes for each category
        const arrPoverty = '&var=S1701_C03_001E';
        const arrUnemployment = '&var=S2301_C04_001E';
        const arrIncome = '&var=S1902_C03_001E';

        //parse values from provided json data
        var poverty = $.get(arrUrl + arrState + arrPoverty);
        var unemployment = $.get(arrUrl + arrState + arrUnemployment);
        var income = $.get(arrUrl + arrState + arrIncome);

        //$('#sel10').empty().append();
        //$.each(filterData, function (index, value) {
        //    $('#sel10').append('<option value="' + value + '">' + poverty + '</option>');
        //});
        //console.log('#sel10');

        $('#sel10').empty().append();
        $.each(filterData, function (index, value) {
            $('#sel10').append('<option value="' + value + '">' + poverty + '</option>');
        });
        //console.log('#sel10');



        $('#sel11').empty().append();
        $.each(filterData, function (index, value) {
            $('#sel11').append('<option value="' + value + '">' + unemployment + '</option>');
        });
        //console.log('#sel11');


        $('#sel12').empty().append();
        $.each(filterData, function (index, value) {
            $('#sel12').append('<option value="' + value + '">' + income + '</option>');
        });
        //console.log('#sel12');

*/

    });
    });
    
    
</script>



  <br><br>
  <div title="More information">
  <a href="https://ucr.fbi.gov/crime-in-the-u.s/2019/crime-in-the-u.s.-2019"><img src="./img/FBI.png"></a><br>
  </div>
  <br>
  <a href="/"><img src="./img/Home_icon.png"></a><a href="/search"><img src="./img/Search_Search.png"></a><a href="/results"><img src="./img/Results_icon.png"></a><a href="/results_list"><img src="./img/List_icon.png"></a>
</html>